@import "./variables.scss";
.App {
  background: #f5f5f5;
}

.mb-half {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-16 {
  margin-bottom: 16rem;
}
